@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&family=Varela&display=swap');


body {
  background-color: #d7dadb;;
  /* background-image: url("images/orbvallis.png"); */
  font-family: 'Varel', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: #6C5F5B;
  font-size: 15px;
  line-height: 120%;
}

h1 {
  font-size: 20px;
  font-family: 'Alegreya Sans SC', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 140%;
  color: #363062;
  letter-spacing: 10px;
  text-shadow: 0 1px 2px  #5f89d6;
}

h2 {
  font-size: 20px;
  font-family: 'Notable', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 140%;
  color: #363062;
  letter-spacing: 10px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #5fa9a6;
}

a:hover {
  text-decoration: none;
  color: #363062;
}

.img-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.container {
  width: 600px;
  margin: 40px auto;
}

.card {
  text-align: center;
  background: #fdfdfdad;
  padding: 30px;
  border: 1px solid lightgrey;
  margin: 10px auto;
  box-shadow: 2px 2px 5px #98b5c0b7;
  border-radius: 1%;
}

.card:first-child p {
  margin-bottom: 30px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  padding: 0px;
}

i {
  font-size: 40px;
}

.btn-blue {
  background-color: #5fa9a6;
  padding: 8px 8px;
  border-radius: 5%;
  color: #eee;
  margin: 10px 0px;
  transition-duration: 0.4s;
}

.btn-blue:hover {
  background-color: #fefeff80;
  border: 1px solid #5fa9a6;
  padding: 8px 8px;
  border-radius: 5%;
  color: #363062;
  margin: 20px auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
